body{
    margin:0;
    padding:0;
}
.body-container{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.header{
    position:relative;
    width:100%;
}
#heading{
    position:relative;
    width:70%;
    margin:3% auto;
    font-size:3em;
}
.main-column{
    position: relative;
    width:100%;
}
.form-container{
    position: relative;
    width:70%;
    margin: auto;
    
}